.booth-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  mat-form-field {
    flex: 1;
    margin-right: 16px;
  }

  button {
    margin-left: 8px;
  }
}

mat-form-field {
  width: 100%;
}

textarea {
  resize: vertical; /* Allow only vertical resizing */
}
