.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  display: block;
  margin: 0 auto 0;
}
